@import "bourbon/bourbon";
@import "reset";
@import "expandingText";

@mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}


$edu_blue: #283E4F;
$edu_orange: #E86A3D;
$edu_teal: #72CAC4;
$edu_yellow: #EEC11B;
$edu_light_blue: #DFE8E8;
$edu_light_grey: #E8ECEC;
$edu_mid_grey: #A7A9AC;
$edu_text_blue: #325C80;

body{
	font-family: "Helvetica Neue", sans-serif;
	color: white;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 59px;
	background-color: $edu_blue;
	
	h1{
		position: relative;
		text-align: center;
		margin-top: 30px;
		font-size: 18px;
	}	
}

#workspace{
	position: absolute;
	left: 0;
	right: 0;
	top: 59px;
	bottom: 152px;
	section{
		position: absolute;
		top: 0;
		bottom: 8px;
		width: 50%;
	}
	
	#dragger{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateX(-50%));
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $edu_mid_grey;
		z-index: 100;
		background-image: url('../images/inner_texture-1x.png');
		background-size: 12px 14px;
		@include retina('../images/inner_texture-2x.png', 12px, 14px);
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#chat{
		left: 0;
		background-color: $edu_light_blue;
		
		#chat_transcript{
			position: absolute;
			top: 0;
			width: 100%;
			padding-top: 17px;
			overflow-y: scroll;
			&::-webkit-scrollbar{
				display: none;
			}
			
			h1, h2{
				color: $edu_text_blue;
				text-align: center;
			}
			
			h1{
				font-size: xx-large;
				margin-top: 10%;
			}
			
			h2{
				font-size: large;
				margin-top: 5%;
			}
			
			.message_wrapper{
				position: relative;
				float: left;
				width: 100%;
				height: auto;
				margin-bottom: 17px;
				
				&:first-child{
					margin-top: 17px;
				}
				
				&.user{
					
					.message{
						float: right;
						margin-right: 25px;
						margin-left: 43px;
					}
					
					.indicator_bar{
						background-color: $edu_orange;
						right: 0;
					}
					
					.message_body{
						padding-right: 27px;
						padding-left: 19px;
					}
				}
				
				&.watson{
					
					.message{
						float: left;
						margin-left: 25px;
						margin-right: 43px;
					}
					
					.indicator_bar{
						background-color: $edu_teal;
						left: 0;
					}
					
					.message_body{
						padding-left: 27px;
						padding-right: 19px;
					}
				}
				
				.message{
					position: relative;
					
					.indicator_bar{
						position: absolute;
						height: 100%;
						width: 6px;
						z-index: 1;
					}
					
					.message_body{
						position: relative;
						box-sizing: border-box;
						width: 100%;
						padding-top: 19px;
						padding-bottom: 19px;
						background-color: white;
						p{
							color: $edu_text_blue;
						}
					}
					
					
				}
			}
			
		}
		
		#chat_box{
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 15px;
			background-color: white;
			border-radius: 5px;
			textarea{
				border-radius: 5px;
				width: 100%;
			}
			
		}
	}
	
	#graph_paper{
		right: 0;
	}
	
	#workspace_slider{
		position: absolute;
		bottom: 0;
		height: 8px;
		width: 100%;
		background-color: $edu_light_grey;
	}
}	

footer{
	position: absolute;
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	#input_indicator{
		position: relative;
		float: left;
		width: 100%;
		height: 16px;
		background-color: $edu_mid_grey;
		#indicators{
			position: relative;
			width: 59px;
			margin-left: auto;
			margin-right: auto;
			.list_ball{
				position: relative;
				float: left;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: white;
				margin: 3px 10px 0px 3px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	
	#input_ui{
		position: relative;
		float: left;
		width: 100%;
		height: 136px;
		background-color: $edu_blue;
	}
}